bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
release/wi-kubernetes-manifests.yaml
additional-manifests/certificate.yaml
additional-manifests/certificate2.yaml
additional-manifests/issuer.yaml
additional-manifests/test.yaml
